:root {
  --primary-color: #181e26;
  --secondary-color: #5a80a4;
}

ul {
  padding: 0;
  margin-left: 20px;
}
li {
  font-size: 19px;
  margin-bottom: 8px;
}
body {
  font-family: Roboto;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 24px;
  font-weight: 700;
}
a {
  color: var(--secondary-color);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

p {
  margin-bottom: 8px;
  font-size: 19px;
  font-weight: 400;
}
.titel {
  font-size: 28px;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  padding: 8px 25px;
}
.summery-section {
  padding: 15px;
  background-color: rgb(255, 255, 255);
}
.contact-section {
  background-color: #fdfbf4;
}

.contact-inform-title {
}

.skills-title {
}

.contact-link {
  text-decoration: none;
  padding: 8px 0;
}

.skills-list {
  list-style: none;
}
.skill-list-link {
  text-decoration: none;
}

.link:not(:last-child) {
  margin-bottom: 8px;
}

.main-section {
  margin-left: 80px;
}

.main-title {
  text-align: center;
}

.main-section-title {
  text-align: center;
  margin-left: 40px;
}

.email-link {
  display: flex;
}

.skills-list {
  padding-left: 5px;
}

.svg-email {
  padding-right: 3px;
}

.skills-list-inform {
  list-style: none;
  margin-left: 5px;
}

hr {
  border: none;
  border-top: 2px solid #ccc;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.first-link {
  margin-right: 10px;
}
