:root {
  --primary-color: #181e26;
  --secondary-color: #5a80a4;
}

body {
  font-family: Roboto;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 18px;
  font-weight: 700;
}
a {
  color: var(--secondary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
.titel {
  font-size: 28px;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  padding: 8px 25px;
}
.summery-section {
  padding: 15px;
  background-color: rgb(255, 255, 255);
}
.contact-section {
  background-color: #fdfbf4;
}

.contact-inform-title {
  text-align: center;
}

.skills-title {
  text-align: center;
}

.contact-link {
  text-decoration: none;
  padding: 8px 0;
}

.skills-list {
  list-style: none;
}
.skill-list-link {
  text-decoration: none;
}

.link:not(:last-child) {
  margin-bottom: 8px;
}

.main-section {
  margin-left: 80px;
}

.main-title {
  text-align: center;
}

.main-section-title {
  margin-left: 40px;
}
.picture img {
  margin-left: 19px;
}
